<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Profile</title>
</head>
<body>
    <!--<h1 style="text-align: center; margin: auto;">profile page</h1>-->
    <center><div class="userinfo">
        <div class="icon">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="text">
            <h2><%= data[0].name %></h2>
            <h3><%= data[0].email %></h3><br>
            <a href="/newpost">Create New Post</a>
            <% if (!data[0].isVerified) { %>
                <a href="/email-verification">Verify Email</a>
            <% } %>
        </div>
        <div class="logout_n_new">
            <form action="/logout" method="post">
                <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button><br>
            </form><br>
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
    </div></center>

    <div class="userinfo_tablet">
        <div class="icon_text">
            <i class="fa-solid fa-circle-user"></i>
            <h2><%= data[0].name %></h2>
            <h3><%= data[0].email %></h3><br>
        </div>
        <div class="logout_add">
            <form action="/logout" method="post">
                <li><a href="/newpost">Create New Post</a></li>
                <li><button type="submit"><i class="fa-solid fa-right-from-bracket"></i> Log out</button></li>
                <li><a id="home" href="/"><i class="fa-solid fa-house"></i></a></li>
            </form>
        </div>
    </div>

    <center><div class="userpost">
        <% for(let i = 0; i < data[1].length; i++) { %>
            <a href="/post/<%= data[1][i]._id %>" target="_blank" rel="noopener noreferrer">
                <div class="post">
                    <img src="<%= data[1][i].media[0].link %>" alt="image">
                    <div class="posttxt">
                        <h3><%= data[1][i].title %></h3>
                        <p><%= data[1][i].desc %></p></a>
                        <form action="delete?postId=<%= data[1][i]._id %>" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </a>
        <% } %>
    </div></center>


    <!--<h2>Welcome, <%= data.name %></h2> 
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <a href="/newpost">Create New Post</a>-->
</body>
</html>